* {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

header, .bottom-bar {
    width: 100%;
    height: 80px;

    position: fixed;
    left: 0;
    
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    z-index: 10;
}

header img {
    width: 75px;
    height: 53px;

    margin-left: 22px;
}

header ion-icon {
    margin-right: 22px;

    font-size: 42px;
}

.enter-chat {
    width: 100%;
    height: 100%;
 
    position: fixed;
    top: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 10;

    background-color: white;
}

.enter-chat .logo {
    width: 130px;
    height: 92px;

    margin: 72px 0 94px 0;
}

input:focus {
    outline: none;
}

.enter-chat input {
    width: 260px;
    height: 54px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;

    text-align: center;
}

.enter-chat input::placeholder {
    font: 400 18px roboto;
    text-align: center;

    color: #AEAEAE;

}

.enter-chat button {
    width: 109px;
    height: 45px;

    margin-top: 15px;

    border: none;
    border-radius: 9px;
}

.enter-chat .loading {
    width: 100px;
    height: 100px;
    
    margin-bottom: 20px;

    border-radius: 100%;

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
      
}

@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

.enter-chat span {
    font: 400 18px roboto;
}

.bottom-bar {
    bottom: 0;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.send-message {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 27px;
}

.bottom-bar input {
    width: 80%;
    width: -webkit-fill-available;
    width: -moz-available;

    padding-left: 17px;

    border: none;
}

.bottom-bar input::placeholder {
    font: italic 400 18px roboto;

    color: black;
}


.bottom-bar span {
    font: 300 14px roboto;

    padding-left: 17px;

    color: #505050;
}
.bottom-bar ion-icon {
    font-size: 26px;

    margin-right: 27px;

    cursor: pointer;
}

main .chat {
    margin: 106px 0 80px 0;
    position: relative;
}

.chat ion-icon {
    position: fixed;
    top: 90px;
    right: 10px;

    font-size: 30px;   
}

.chat ion-icon.on {
    color: #28BB25;
}

.chat ion-icon.off {
    color: gray;
}

main .chat .message {
    width: 100%;

    padding: 8px;
    margin-bottom: 4px;

    border-radius: 2px;

    font: normal 400 16px roboto;
    overflow-wrap: break-word;

    background-color: white;
}

main .chat .message.status {
    background-color: #DCDCDC;
}

main .chat .message.private_message {
    background-color: #FFDEDE;
}

.sidebar {
    height: 100%;
    width: 259px;

    position: fixed;
    top: 0;
    right: 0;

    z-index: 3;

    transform: translateX(100%);
    transition: all 1s ease-in-out;

    overflow: scroll;

    background-color: white;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar.active {
    transform: translateX(0%);
}

.sidebar-background {
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 2;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 1s ease-in-out;

    background-color: rgba(0, 0, 0, 0.6);
}

.sidebar-background.active {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.sidebar .participants {
    height: 300px;

    overflow: scroll;
}

.participants::-webkit-scrollbar {
    display: none;
}

.participants {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar span {
    width: 100%;

    padding-right: 30px;

    font: 400 16px/18.75px roboto;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar>span {
    display: block;
    margin: 40px 0;

    font: 700 16px/18.75px roboto;
    text-align: center;
}

.sidebar ion-icon {
    margin: 0 8px 0 17px;

    font-size: 30px;
}

.sidebar .visibility ion-icon {
    font-size: 24px;
}


.sidebar .check {
    font-size: 20px;

    position: absolute;
    right: 0;
    
    opacity: 0;
    color: #28BB25;
}

.sidebar .participant, .sidebar .visibility {
    display: flex;
    align-items: center;

    margin: 10px 0;

    position: relative;
    
    cursor: pointer;
}

.display-none {
    display: none;
}

.check.display {
    opacity: 1;
}